{% extends "main.html" %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Медицинский материал</th>
      <th>Количество</th>
      <th>№ документа</th>
      <th>Дата операции</th>
    </tr>
  </thead>
  <tbody>
    {% for item in issued %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.medical_material }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.document_number }}</td>
      <td>{{ item.operation_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
