{% extends "main.html" %}

{% block content %}
    <p>Добро пожаловать на страницу работы с приложением для ГБУЗ МО Коломенская больница</p>
  <p><a href="/users" class="button-link">Пользователи</a></p>
  <p><a href="/user-roles" class="button-link">Роли пользователей</a></p>
  <p><a href="/patients" class="button-link">Пациенты</a></p>
  <p><a href="/health_cards" class="button-link">Медицинские карты</a></p>
  <p><a href="/work_timetable" class="button-link">Расписание работы</a></p>
  <p><a href="/clean_timetable" class="button-link">Расписание уборки помещений</a></p>
  <p><a href="/diagnosises" class="button-link">Диагнозы</a></p>
  <p><a href="/drugs" class="button-link">Препараты</a></p>
  <p><a href="/treatment_types" class="button-link">Типы лечения</a></p>
  <p><a href="/room_type" class="button-link">Типы помещений</a></p>
  <p><a href="/rooms" class="button-link">Помещения</a></p>
{% endblock %}
