{% extends "main.html" %}
{% block title_img %}
<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-boxes" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg>
{% endblock %}
{% block content %}
<p style="margin-bottom: 24px; color: var(--text-muted); font-size: .95rem;">
  Добро пожаловать в информационную систему Медицинский склад ГБУЗ МО Коломенская больница
</p>

<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 12px;">
  {% if can_read('users') %}
  <a href="/users"          class="btn-action btn-create">Пользователи</a>
  {% endif %}
  {% if can_read('user_roles') %}
  <a href="/user-roles"     class="btn-action btn-create">Роли пользователей</a>
  {% endif %}
  {% if can_read('departments') %}
  <a href="/departments"     class="btn-action btn-create">Отделения</a>
  {% endif %}
  {% if can_read('suppliers') %}
  <a href="/suppliers"     class="btn-action btn-create">Поставщики</a>
  {% endif %}
  {% if can_read('delivery') %}
  <a href="/delivery"     class="btn-action btn-create">Поступление медматериалов</a>
  {% endif %}
  {% if can_read('issue') %}
  <a href="/issue"     class="btn-action btn-create">Выдача медматериалов</a>
  {% endif %}
  {% if can_read('storage') %}
  <a href="/storage"     class="btn-action btn-create">Хранение медматериалов</a>
  {% endif %}
  {% if can_read('issued') %}
  <a href="/issued"     class="btn-action btn-create">Выданные медматериалы</a>
  {% endif %}
  {% if can_read('written_off') %}
  <a href="/written_off"     class="btn-action btn-create">Списанные медматериалы</a>
  {% endif %}
  {% if can_read('material_types') %}
  <a href="/material_types"      class="btn-action btn-create">Типы материалов</a>
  {% endif %}
  {% if can_read('material_units') %}
  <a href="/material_units"          class="btn-action btn-create">Единицы измерения</a>
  {% endif %}
  {% if can_read('medical_materials') %}
  <a href="/medical_materials"       class="btn-action btn-create">Медицинские материалы</a>
  {% endif %}

</div>
{% endblock %}
