{% extends "main.html" %}
{% block title_img %}
<svg width="60" height="60" viewBox="0 0 16 16" fill="currentColor">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
</svg>
{% endblock %}
{% block content %}

  <div class="filter-panel mb-3">
      <div class="row">
          <div class="col">
              <select class="form-control table-filter"
                      data-filter-field="medical_material">
                  <option value="">
                      Все материалы
                  </option>

                  {% for material in materials %}
                  <option value="{{ material.name }}">
                      {{ material.name }}
                  </option>
                  {% endfor %}
              </select>
          </div>
          <div class="col">
              <input type="text"
                     class="form-control table-filter"
                     data-filter-field="document_number"
                     placeholder="№ документа">
          </div>
          <div class="col">
              <input type="date"
                     class="form-control table-filter"
                     data-filter-field="operation_date">
          </div>
          <div class="col-auto">
              <button type="button"
                      class="btn-action btn-edit"
                      onclick="resetTableFilters()">
                  Сбросить
              </button>
          </div>

      </div>
  </div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="sortable">ID</th>
      <th class="sortable">Отделение</th>
      <th class="sortable">Медицинский материал</th>
      <th class="sortable">Количество</th>
      <th class="sortable">№ документа</th>
      <th class="sortable">Дата операции</th>
    </tr>

  </thead>
  <tbody>
    {% for item in written_off %}
    <tr
    data-id="{{ item.id }}"
    data-department="{{ item.department }}"
    data-medical_material="{{ item.medical_material }}"
    data-document_number="{{ item.document_number }}"
    data-operation_date="{{ item.operation_date }}">
      <td>{{ item.id }}</td>
      <td>{{ item.department }}</td>
      <td>{{ item.medical_material }}</td>
      <td>{{ item.table_quantity }}</td>
      <td>{{ item.document_number }}</td>
      <td>{{ item.operation_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
