{% extends "main.html" %}
{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th class="sortable">ID</th>
      <th class="sortable">Медицинский материал</th>
      <th class="sortable">Количество</th>
      <th class="sortable">№ документа</th>
      <th class="sortable">Дата операции</th>
    </tr>

  </thead>
  <tbody>
    {% for item in written_off %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.medical_material }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.document_number }}</td>
      <td>{{ item.operation_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
